@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="col-sm-4 col-xs-12 pull-left">
        <aside id="tg-sidebar" class="tg-sidebar">
            <div class="tg-widget">
                <div class="tg-widgettitle">
                    <h3>Search</h3>
                </div>
                <div class="tg-widgetcontent">
                    <form class="tg-formtheme tg-formfeedbacksearch">
                        <fieldset>
                            <input type="search" class="form-control" name="search" placeholder="Searc Here">
                            <button><i class="fa fa-search"></i></button>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="tg-widget">
                <div class="tg-widgettitle">
                    <h3>Categories</h3>
                </div>
                <div class="tg-widgetcontent tg-widgetcategories">
                    <ul>
                        <li><a href="#">All <span>(543447)</span></a></li>
                        <li><a href="#">Psd <span>(4112)</span></a></li>
                        <li><a href="#">UI/UX <span>(1214)</span></a></li>
                        <li><a href="#">HTML <span>(755)</span></a></li>
                        <li><a href="#">Wordpress <span>(1212)</span></a></li>
                        <li><a href="#">S.E.O <span>(4522)</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="tg-widget">
                <div class="tg-widgettitle">
                    <h3>Most Popular</h3>
                </div>
                <div class="tg-widgetcontent tg-widgetpoststyle">
                    <ul>
                        <li>
                            <figure><a href="#"><img src="~/images/thumbnails/img-14.jpg" alt="image description"></a></figure>
                            <div class="tg-postcontent">
                                <h5><a href="#">Step Forward Or Leave</a></h5>
                                <span class="tg-subjects">Post Author: Pricilla Nader</span>
                            </div>
                        </li>
                        <li>
                            <figure><a href="#"><img src="~/images/thumbnails/img-15.jpg" alt="image description"></a></figure>
                            <div class="tg-postcontent">
                                <h5><a href="#">10 Tips To Stay Healthy</a></h5>
                                <span class="tg-subjects">Post Author: Pricilla Nader</span>
                            </div>
                        </li>
                        <li>
                            <figure><a href="#"><img src="~/images/thumbnails/img-16.jpg" alt="image description"></a></figure>
                            <div class="tg-postcontent">
                                <h5><a href="#">17 Things You Should Know</a></h5>
                                <span class="tg-subjects">Post Author: Pricilla Nader</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tg-widget">
                <div class="tg-widgettitle">
                    <h3>Archives</h3>
                </div>
                <div class="tg-widgetcontent tg-widgetarchives">
                    <ul>
                        <li><a href="#">All 2016 <span>(543447)</span></a></li>
                        <li><a href="#">Jan 2016 <span>(4112)</span></a></li>
                        <li><a href="#">Feb 2016 <span>(1214)</span></a></li>
                        <li><a href="#">Mar 2016 <span>(755)</span></a></li>
                        <li><a href="#">Apr 2016 <span>(1212)</span></a></li>
                        <li><a href="#">May 2016 <span>(4522)</span></a></li>
                        <li><a href="#">Jun 2016 <span>(2456)</span></a></li>
                        <li><a href="#">Jul 2016 <span>(453)</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="tg-widget">
                <div class="tg-widgettitle">
                    <h3>Most Commented</h3>
                </div>
                <div class="tg-widgetcontent tg-widgetpoststyle">
                    <ul>
                        <li>
                            <figure><a href="#"><img src="~/images/thumbnails/img-14.jpg" alt="image description"></a></figure>
                            <div class="tg-postcontent">
                                <h5><a href="#">Step Forward Or Leave</a></h5>
                                <span class="tg-subjects">Post Author: Pricilla Nader</span>
                            </div>
                        </li>
                        <li>
                            <figure><a href="#"><img src="~/images/thumbnails/img-15.jpg" alt="image description"></a></figure>
                            <div class="tg-postcontent">
                                <h5><a href="#">10 Tips To Stay Healthy</a></h5>
                                <span class="tg-subjects">Post Author: Pricilla Nader</span>
                            </div>
                        </li>
                        <li>
                            <figure><a href="#"><img src="~/images/thumbnails/img-16.jpg" alt="image description"></a></figure>
                            <div class="tg-postcontent">
                                <h5><a href="#">17 Things You Should Know</a></h5>
                                <span class="tg-subjects">Post Author: Pricilla Nader</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
